/* body {
  background: #520556; 
  background: -webkit-linear-gradient(to right, #448ef6, #520556);
  background: linear-gradient(to right, #448ef6, #520556);
} */

body {
  background-color: #448ef6;
  font-family: Oswald;
}

/* COLOR PALETTE */
/* First: #074684 */
/* Seconds: #005792 */
/* Third: #448ef6 */
/* Fourth: #fdb44b: */

/* H E A D E R  */
header {
  display: flex;
  flex-direction: row;
}

em {
  color: white;
}
/* Board Player 1  */

.header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header-box span {
  font-size: 3rem;
  color: white;
}

#p1-board {
  width: 20%;
  background-color: #520556;
  border-radius: 50px 5px 5px 50px;
  background-image: url("/img/space-left.jpg");
}

.selected {
  border: 10px solid #fdb44b;
} 

/* Card Stack  */

#card-stack {
width: 60%;
height: 165px;
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 10px;
background: #00204a; 
background: -webkit-linear-gradient(to top, #448ef6, #00204a);
background: linear-gradient(to top, #448ef6, #00204a);
}

/* Board Player 2  */

#p2-board {
  width: 20%;
  background-color: #520556;
  border-radius: 5px 50px 50px 5px;
  background-image: url("/img/space-right.jpg");
}

/* I N F O B O X  */

#infobox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
}

#infobox-button-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

/* G A M E B O A R D  */
gameboard {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.p-stack {
  display: flex;
  flex-direction: row;
  padding: 30px;
  background-color: #074684;
  height: 300px;
  width: 30%;
}

.p-cards {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */

}

#p1-stack {
  border-radius: 5px 40px 40px 5px;  
}

#bf-p1{
  margin-left: 30px;
}

#battle-field {
  border: 2px solid black;
  height: 300px;
  width: 60%;
  background-color: #520556;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border-radius: 6px;
}

#battle-field .bc p:hover {
  font-weight: bold;
  color: yellow;
}

#bf-p2{
  margin-right: 30px;
}

#p2-stack {
  border-radius: 40px 5px 5px 40px;  
}

/* D I C E  */

#dice {
  font-size: 8em;
  color: #fdb44b;
}

/* C A R D  */

.bc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 7px;;
  margin: 5px;
  height: 140px;
  width: 100px;
  border-radius: 15px;
  background-color: #0ea5c6;
  /* box-shadow: 5px 5px 5px teal; */
  -webkit-box-shadow: 1px 1px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.bc:hover {
  height: 160px;
  width: 130px;
}
.bc:hover p{
  font-size: 1rem;
}

.bc:hover span{
  font-size: 1rem;
}


.bc img {
  /* height: 8vh;
  width: 5vw; */
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.bc span {
  font-size: 0.9rem;
  font-weight: bold;
  color: #520556;
}

.properties p {
  line-height: 0;
  font-size: 0.8rem;
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 180px;
  margin-top: 20px;
  border-radius: 10px;
  background: #00204a; 
  background: -webkit-linear-gradient(to bottom, #448ef6, #00204a);
  background: linear-gradient(to bottom, #448ef6, #00204a);
}

.instructions-div {
  text-align: center;
  width: 40%;
}

.instructions-div h3 {
  line-height: 0px;
  color: white;
  font-size: 2em;
}

.instructions-div p {
  color: white;
  font-size: 2em;
}

.story-div {
  width: 40%;
}

.story-div h3 {
  line-height: 0px;
  color: white;
  font-size: 2em;
}

.story-div p {
  color: white;
  font-size: 2em;
}

@media (max-width: 320px) {

  body { 
     font-size: 2em; 
  }

}
