/* H E A D E R  */
header {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
}

/* Board Player 1  */

#p1-board {
  width: 20%;
}

/* Card Stack  */

#card-stack {
width: 60%;
display: flex;
flex-direction: row;
justify-content: space-around;
}

/* Board Player 2  */

#p2-board {
  width: 20%;
}

.header-box {
  border: 1px solid orange;
}

/* G A M E B O A R D  */
gameboard {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

#p1-stack {
  border: 1px solid black;
  height: 300px;
  width: 30%;
}

#battle-field {
  border: 1px solid black;
  height: 400px;
  width: 60%
}

#p2-stack {
  border: 1px solid black;
  height: 300px;
  width: 30%;
}

/* C A R D  */

.bc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid blue;
  padding: 5px;;
  margin: 5px;
  height: 20vh;
  width: 100px;
}

.bc img {
  height: 8vh;
  width: 5vw;
}

.bc span {
  font-size: 0.6rem;
  font-weight: bold;
}

.properties p {
  font-size: 0.5rem;
  color: green;
}

.bc li {
  font-size: 0.3rem;
}


