/* body {
  background: #520556; 
  background: -webkit-linear-gradient(to right, #8B104E, #520556);
  background: linear-gradient(to right, #8B104E, #520556);
} */

body {
  background-color: #8b104e;
}

/* COLOR PALETTE */
/* First: #ff9900 */
/* Seconds: #CA431D */
/* Third: #8B104E */
/* Fourth: #520556: */

/* H E A D E R  */
header {
  display: flex;
  flex-direction: row;
}

/* Board Player 1  */

.header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.header-box span {
  font-size: 3rem;
  color: white;
}

#p1-board {
  width: 20%;
  background-color: #520556;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
/* 
.selected {
  border: 10px solid green;
} */

/* Card Stack  */

#card-stack {
width: 60%;
height: 160px;
display: flex;
flex-direction: row;
justify-content: space-around;
/* background-color: rgba(255,153,0, 0.7); */
background-color:#ff9900;
}

/* Board Player 2  */

#p2-board {
  width: 20%;
  background-color: #520556;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* I N F O B O X  */

#infobox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
}

#infobox-button-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

/* G A M E B O A R D  */
gameboard {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.p-stack {
  display: flex;
  flex-direction: row;
  padding: 30px;
  background-color: #ff9900;
  height: 300px;
  width: 30%;
}

.p-cards {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */

}

#p1-stack {
  border-radius: 5px 40px 40px 5px;  
}

#bf-p1{
  margin-left: 30px;
}

#battle-field {
  border: 2px solid black;
  height: 300px;
  width: 60%;
  background-color: #520556;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border-radius: 5px;
}

#bf-p2{
  margin-right: 30px;
}

#p2-stack {
  border-radius: 40px 5px 5px 40px;  
}

/* D I C E  */

#dice {
  font-size: 8em;

}

/* C A R D  */

.bc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 7px;;
  margin: 5px;
  height: 140px;
  width: 100px;
  border-radius: 15px;
  background-color: #ca431d;
}

.bc p:hover {
  font-weight: bold;
  color: yellow;
}

.bc img {
  /* height: 8vh;
  width: 5vw; */
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.bc span {
  font-size: 0.9rem;
  font-weight: bold;
  color: #520556;
}

.properties p {
  line-height: 0;
  font-size: 0.8rem;
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 180px;
  margin-top: 40px;
}

.instructions-div {
  text-align: center;
  width: 40%;
}

.instructions-div h3 {
  line-height: 0px;
  color: white;
  font-size: 2em;
}

.instructions-div p {
  color: white;
  font-size: 2em;
}

.story-div {
  width: 40%;
}

.story-div h3 {
  line-height: 0px;
  color: white;
  font-size: 2em;
}

.story-div p {
  color: white;
  font-size: 2em;
}

@media (max-width: 320px) {

  body { 
     font-size: 2em; 
  }

}
